<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <h1 class="titulo"><%=title %></h1>

    <%- include('../partials/forms'); %>
   
    <%- include('../partials/footer'); %> 
  </body>
</html>
